In [ ]:
#v1
n, m, k = map(int,input().split())

5 8 3

In [ ]:
print(n,m,k)

5 8 3

In [ ]:
arr = list(map(int,input().split()))

2 4 5 2 6

In [ ]:
arr

[2, 4, 5, 2, 6]

In [ ]:
arr.sort(reverse=True) # 리스트를 정렬하는게 포인트트

In [ ]:
arr

[6, 5, 4, 2, 2]

In [ ]:
n1=arr[0]
n2=arr[1]
result=0

In [ ]:
while True:
  if(m==0): 
    break
  for _ in range(k):
    result += n1
    m -= 1
  result += n2
  m -= 1

In [ ]:
# C처럼 내부루프에서 외부루프를 조정해보려했지만 파이썬에서는 불가능 한것으로 보임임
# for i in range(10):
#   for j in range(10):
#     i+=1;

In [ ]:
result

46

In [2]:
#v2
n, m, k = map(int,input().split())
arr = list(map(int,input().split()))

5 8 3
2 4 5 4 6

In [6]:
arr.sort(reverse=True)

[6, 5, 4, 4, 2]

In [9]:
first = arr[0]
second = arr[1]
result = (first*k+second)*(m//(k+1)) + (m%(k+1))*first

In [10]:
result

46